

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure File System</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary" style="
        background-color: #407683 !important;">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"> <img
                src="{% static 'FileApp/img/tdil-dc-banner-crop.png' %}"
                height="50pt"
                width="70pt"
              /></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" style="color:white" aria-current="page" href="{% url 'download' %}"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" style="color:white" href="#"> <i class="fa fa-question" aria-hidden="true"></i> FAQs</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" style="color:white" href="{% url 'register_view' %}"> <i class="fa fa-user-plus px-1" aria-hidden="true"></i>Register</a>
                  </li>
                  {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" style="color:white" href="{% url 'logout' %}"><i class="fa fa-sign-in px-1" aria-hidden="true"></i>Logout</a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link" style="color:white" href="{% url 'login' %}"><i class="fa fa-sign-in px-1" aria-hidden="true"></i>Login</a>
                  </li>
                  {% endif %}
                 
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
      </header>