{% extends 'FileApp/index.html' %}
{% load static %}
{% block login %}
<style>
  .header_design{
    color: var(--gray-900, #101828);
    /* Display sm/Semibold */
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.375rem; /* 126.667% */
  }
</style>
    <h1 class="text-center header_design py-2">
        Login Page
    </h1>

    <div class="container">
      <div class="row">
        
        <div class="col-lg-3"></div>
        <div class="col-lg-6  bg-body-tertiary p-4 shadow mt-2">
          <div>
            {% if messages %} 
            {% for message in messages %}
            <div class="alert alert-{{message.extra_tags}} alert-dismissible" role="alert">
              <strong> {% if message.tags %}{{message}}{% endif %}</strong>
            </div>
            {% endfor %} {% endif %}
          </div>
    
          <div style="color: red">
            {% if form.non_field_errors %} 
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %} {% endif %}
          </div>
          <form method="POST" novalidate>
            {% csrf_token %}
            <div class="form-group">
              <label for="Feedback_Email" class="form-label">Email</label>
              {{form.username}}
            </div>
            <div class="form-group">
              <label for="Feedback_Email" class="form-label">Password</label>
              {{form.password}}
            </div>

              <!-- Captcha input -->
              <div class="form-outline mb-4 mt-2">
                <div class="row">
                  <div class="col-sm-12 col-lg-5">
                    <label class="mb-1 fs-5 fw-semibold px-1" for="inputCaptcha">Captcha</label>
                    {{form.captcha_input}}
                    {{form.captcha_hidden}}
                  </div>
                  <div class="col-sm-12 col-lg-5 mt-2">
                    <img class="img-fluid" src='/media/captcha_images/CAPTCHA.png' alt="Captcha" id="captcha-img" width="220">
                    <i class="fa fa-refresh fa-lg m-2" aria-hidden="true" id="refresh_button"></i>
                    <!-- <i class="fa-solid fa-volume-high" name="speaker" onclick="readaudio()"></i> -->
                  </div>
                </div>
              </div>

            <div class=" mt-3">
              <button class="btn btn-primary btn-lg">Login</button>
            </div>
            <div class="info mt-2">
              Not Already Registered !!  <a href="{% url 'register_view' %}"> Register here </a> 
              <a href="{% url 'forgot_password' %}"><p>Forgot your password</p></a> 
            </div>
          </form>
        </div>
        <div class="col-lg-3"></div>
      </div>
       
    </div>

    <script>
        $('#captcha-img').attr('src', '/media/captcha_images/CAPTCHA.png' + "?t="+new Date().getTime())
      
         $('#refresh_button').click(function () {
            console.log("refresh button clicked")
            $.ajax({
                  type: "GET",
                  url: '/captcha_refresh/'
            }).done(function (result){
                  let image = result.captcha_url
                  $('#captcha-img').attr('src', '/media'+image+"?t="+new Date().getTime())
                  //$('#captcha-img').attr('src', '/static'+image)
                  $('#id_captcha_hidden').val(result.captcha_value)
            })
            return false;
         })
      </script>
{% endblock %}